
.custom-bg-light{
    background-color: #f8f9fa;
}

.custom-bg-info{
    background-color: #fceae8;
}

.img-hight{
    height: 80px;
}
.color-pink{
    background-color: #ff257b;
    color: white;
}
.slider-margin{
    margin-top: 100px;
}

